@model RegisterViewModel

<h3>Reset User Password</h3>
<span style="color:red;" id="createError"></span>

@Html.HiddenFor(x=>x.Id)
<div class="form-group">
    @Html.LabelFor(m => m.Email, "Email")
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter email", disabled = "disabled" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Password, "Password")
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password")
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "confirm password" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
</div>

<div class="modal-footer">
    <button id="submitBtn" type="submit" class="btn btn-primary">Reset</button>

    <button id="btnClear" type="button" class="btn btn-primary">Clear</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Close</button>
</div>


<script>

    $('#submitBtn').click(function () {
        var dataToPost = {
            Id: $("#Id").val(),
            Email: $('input[name="Email"]').val(),

            Password: $('input[name="Password"]').val(),
            ConfirmPassword: $('input[name="ConfirmPassword"]').val()
        };
        $.ajax({
            url: '@Url.Action("Reset", "Account")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(dataToPost),
            success: function (response) {
                if (response.success) {
                    var url = '@Url.Action("Index", "Account")';
                    window.location.href = url;
                } else {
                    $("#createError").html(response.errors[0]);
                }
            },
            error: function () {
                return false;
            }
        });
    });

    $("#btnClear").click(function () {
        $("#Password").val('');
        $("#ConfirmPassword").val('');
    })

</script>