@model MainReportModel


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="container">
        <div class="d-flex justify-content-between mb-2 align-items-center">
            <h2 class="fs-4">Income and Expenses Report</h2>
            <span class="fs-6">Date: @Model.DateString</span>
        </div>

        @if (Model.ReportList != null && Model.ReportList.Any())
        {
            <div class="income-expense-report">

                @foreach (var group in Model.ReportList)
                {
                    <h4>@group.Category</h4>
                    <table class="category" data-category="@group.Category">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Amount (NPR) </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group.IncomeExpenses)
                            {
                                <tr class="data-row" data-category-id="@item.CategoryId">
                                    <td>@item.Name</td>
                                <td>@item.CurrentMonthAmount</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    @if (group.Category == "Income")
                                    {
                                        <strong>Income Total</strong>
                                    }
                                    else
                                    {
                                        <strong>Expenses Total</strong>
                                    }
                                </td>
                            <td>NPR @group.Total</td>
                            </tr>
                        </tfoot>
                    </table>
                }
            </div>

            <div class="row">
                <div class="col-6 total-amount">
                <strong>Total = </strong><span> NPR @Model.Total</span>
                </div>
            </div>
        }
        else
        {
            <p>No data available.</p>
        }
    </div>
