@model MainReportModel


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <div class="container">
        <h2>Income and Expenses Report</h2>
        <h3>Date: @Model.DateString</h3>

        @if (Model.ReportList != null && Model.ReportList.Any())
        {
            <div class="income-expense-report">

                @foreach (var group in Model.ReportList)
                {
                    <h4>@group.Category</h4>
                    <table class="category" data-category="@group.Category">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Amount (NPR) </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group.IncomeExpenses)
                            {
                                <tr class="data-row" data-category-id="@item.CategoryId">
                                    <td>@item.Name</td>
                                <td>@item.CurrentMonthAmount</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    @if (group.Category == "Income")
                                    {
                                        <strong>Income Total</strong>
                                    }
                                    else
                                    {
                                        <strong>Expenses Total</strong>
                                    }
                                </td>
                            <td>NPR @group.Total</td>
                            </tr>
                        </tfoot>
                    </table>
                }
            </div>

            <div class="row">
                <div class="col-6 total-amount">
                <strong>Total = </strong><span> NPR @Model.Total</span>
                </div>
            </div>
        }
        else
        {
            <p>No data available.</p>
        }
    </div>
